<ui-view>
<div ng-controller="InfoController as infoCtrl">
<div  ng-if="infoCtrl.user.firstname !== undefined" >
<p>First Name: {{infoCtrl.user.firstname}}</p>
<p>Last Name:{{infoCtrl.user.lastname}}</p>
<p>Email:{{infoCtrl.user.email}}</p>
<p>Phone:{{infoCtrl.user.phone}}</p>
<h2>Favorite Menu Item</h2>
<p>menuno: {{infoCtrl.user.menuno}}</p>
<p>name: {{infoCtrl.user.name}}</p>
<p>description: {{infoCtrl.user.description}}</p>
<img class="img-responsive" width="250" height="150" ng-src="https://heba-coursera-project.herokuapp.com/images/"+infoCtrl.user.menuno+".jpg">
</div>

<div ng-if="infoCtrl.user.firstname === undefined">
  Not Signed Up Yet.
  <a ui-sref="public.signup">Sign up Now!</a>
</div>
</ui-view>
