<!DOCTYPE html>
<html ng-app="MenuApp">
<head>
  <meta charset="utf-8">
  <title>Menu App</title>
  <script src="../../lib/angular.min.js"></script>
  <script src="../../lib/angular-ui-router.min.js"></script>
    <script src="../data.module.js"></script>
  <script src="../menuapp.module.js"></script>
  <!-- Routes -->
   <script src="../routes.js"></script>
</head>
<body>
  <h1> Welcome to our Restaurant </h1>
  <a ui-sref="categories">See our categories List</a>
  <ui-view> </ui-view>
</body>
</html>
